<div class="box">
    <article class="media is-align-items-center">
        <div class="media-left">
            <img src="{{# if img}}{{img}}{{else}}/images/imageplaceholder.png{{/if}}" width="150" height="150" class="js-modal-trigger image" data-target="image-{{_id}}">
        </div>
        <div class="media-content">
            <div class="content">
                <strong class="is-size-4">{{name}}</strong>
                <div class="columns">
                    <div class="column">
                        <p>
                            <small><strong>Description: </strong> {{description}}</small>
                            <br>
                            <small><strong>Lat: </strong> {{lat}}</small>
                            <br>
                            <small><strong>Lng: </strong> {{lng}}</small>
                            <br>
                            <small><strong>User: </strong> {{category.user.firstName}} {{category.user.lastName}}</small>
                        </p>
                    </div>
                    <div class="column is-flex is-justify-content-center" style="gap: 1rem;">
                        <div class="weather is-flex is-align-items-center is-flex-direction-column">
                            {{# if weather}}
                                <img src="{{weather.icon}}" alt="Weather icon" width="80" height="80">
                                {{temp.temp}} °C
                            {{else}}
                                <div class="is-flex is-align-items-center is-justify-content-center" style="height: 80px; width: 80px;">
                                    <i class="fas fa-bolt" style="font-size:25px;"></i>
                                </div>
                                No weather data
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="js-modal-trigger level-item" aria-label="edit" data-target="add-{{_id}}">
                        <span class="icon is-small">
                          <i class="fas fa-plus" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </nav>
        </div>
    </article>
</div>

<div id="add-{{_id}}" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{# if myCats.length}}Add to my placemarks{{else}}No categories found!{{/if}}</p>
            <button class="delete" aria-label="close"></button>
        </header>
        {{# if myCats.length}}
            <form action="/placemarks" method="POST">
                <section class="modal-card-body">
                    <input type="hidden" id="name" name="name" value="{{name}}" />
                    <input type="hidden" id="description" name="description" value="{{description}}" />
                    <input type="hidden" id="lat" name="lat" value="{{lat}}" />
                    <input type="hidden" id="lng" name="lng" value="{{lng}}" />
                    <input type="hidden" id="img" name="img" value="{{img}}" />
                    <div class="field">
                        <label for="category" class="label">Select Category</label>
                        <div class="control has-icons-left">
                            <div class="select">
                                <select name="category" id="category" required style="min-width: 250px;">
                                    {{# each myCats}}
                                        <option value="{{_id}}">{{name}}</option>
                                    {{/ each}}
                                </select>
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success"><i class="fas fa-floppy-disk mr-2"></i> Save</button>
                </footer>
            </form>
        {{else}}
            <section class="modal-card-body">
                <p class="subtitle is-6">Please create a category first.</p>
            </section>
        {{/if}}
    </div>
</div>

<div id="image-{{_id}}" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image">
            <img src="{{# if img}}{{img}}{{else}}/images/imageplaceholder.png{{/if}}">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>