{{> NavBar loggedIn=true active="user" }}

<div class="container">
    <div class="columns is-align-items-center">
        <div class="column has-text-centered-touch has-text-right">
            <img width="400" src="/images/placemarklogo2.png"/>
        </div>
        <div class="column has-text-centered-mobile">
            <h1 class="title">Welcome {{user.firstName}} {{user.lastName}}!</h1>
            <p>
                You logged in with email: <strong>{{user.email}}</strong>.
            </p>
            <p class="mb-4">
                Until now, you have created <strong>{{placemarks}}</strong> placemark{{#ne placemarks 1}}s{{/ne}} in <strong>{{categories}}</strong> categor{{#ne categories 1}}ies{{else}}y{{/ne}}.{{# gt placemarks 5 }} Keep up the good work!{{/gt}}
            </p>
            <a href="/password" class="button is-info"><i class="fas fa-key mr-2"></i> Change password</a>
        </div>
    </div>
</div>